@import 'tailwindcss';
@plugin 'flowbite/plugin';
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #f5eece;
	--color-bg-1: #fbf8ea;
	--color-bg-2: #f6f0d5; /* TODO: need all of these? order? */
	--color-theme-1: #e06962;
	--color-theme-2: #476970;
	--color-text: rgba(0, 0, 0, 0.7);
	--color-text-light: #fbf8ea;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.2rem;
}

h2 {
	font-size: 1.1rem;
	font-weight: 600;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.primary-button {
	background-color: #19434c;
}

.accordion-content {
	background-color: white;
}

form {
	margin-top: 1rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 1.6rem;
	}
}

.customFileInput::-webkit-file-upload-button {
	visibility: hidden;
	width: 0px;
}

.customInputContainer {
	float: left;
	position: relative;
	height: 80px;
}

.customFileInput {
	position: absolute;
	top: 24px;
	left: 74px;
	margin-left: 0!important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.customFileInputButton {
	position: absolute;
	background-color: #1e2939;
	color: white;
	height: 42px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 0!important;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	font-size: 14px;
}
