name: Piranha Electron
on:
  push:
    branches: [ main ]
  pull_request:
    paths:
      - 'piranha-electron/**'
      - './github/workflows/**'

defaults:
  run:
    working-directory: ./piranha-electron

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format:check