name: Piranha Installer for Ubuntu
on:
  push:
    branches: [ main ]
    paths:
      - 'piranha-installer/**'
      - './github/workflows/**'
  pull_request:
    branches: [ main ]

defaults:
  run:
    working-directory: ./piranha-installer

jobs:
  build-piranha-exe:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v4
      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ./piranha-installer/environment.yml
      - name: Build Piranha exe
        shell: bash -el {0}
        run: ./scripts/build-installer
      - name: TMATE #todo: remove
        uses: mxschmitt/action-tmate@v3
      - name: Upload exe as artifact
        uses: actions/upload-artifact@v4
        with:
          name: piranha-exe-ubuntu
          path: ./piranha-installer/dist/
          retention-days: 1

  test-piranha-exe:
    needs: build-piranha-exe
    runs-on: ubuntu-latest
    steps:
      - name: Check out source # Get source just to have access to test data and run script
        uses: actions/checkout@v4
      #- name: Make empty dist folder # So we can run the same script as in local dev, manually create dist folder...
      #  run: mkdir dist
      - name: Download Piranha exe # ...and download the exe to it
        uses: actions/download-artifact@v4
        with:
          name: piranha-exe-ubuntu
          path:
            ./piranha-installer/dist
      - name: Add executable permission
        run: chmod u+x dist/piranha/piranha
      - name: TMATE #todo: remove
        uses: mxschmitt/action-tmate@v3
      - name: Test Piranha exe
        run: ./scripts/test-run-exe

