name: Piranha Runner
on:
  push:
    branches: [ main ]
  pull_request:
    paths:
      - 'piranha-runner/**'
      - './github/workflows/**'

defaults:
  run:
    working-directory: ./piranha-runner

jobs:
  #lint-and-format:
   # runs-on: ubuntu-latest
   # steps:
   #   - name: Checkout
   #     uses: actions/checkout@v4
   #   - name: Install Node
    #    uses: actions/setup-node@v5
    #    with:
    #      node-version: 24.x
    #      cache: npm
    #      cache-dependency-path: piranha-electron/package-lock.json
    #  - name: Install dependencies
    #    run: npm ci
    #  - name: Lint
    #    run: npm run lint
    #  - name: Format
    #    run: npm run format:check
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: npm
          cache-dependency-path: piranha-electron/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Integration test
        run: npm run test
      # TODO: add this when codecov token is available
      #- name: Upload coverage
      #  uses: codecov/codecov-action@v5
      #  with:
      #    fail_ci_if_error: true
      #    files: ./coverage/coverage-final.json
      #    token: ${{ secrets.CODECOV_TOKEN }}